.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-btn {
  position: fixed;
  top: 0;
  right: 0;
}

.custom-icon {
  color: var(--bs-white);

  &:hover {
    color: var(--bs-orange);
  }
}

.video-container {
  max-width: 80%;
  max-height: 80vh;
  text-align: center;

  video {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}
