<header>
  <div class="container">
    <nav class="navbar">
      <ul class="navbar__list">
        <li class="navbar__list-item">
          <a href="/" class="logo">
            <img src="assets/img/icons/emblem.svg" alt="Ukraine emblem" />
            <img src="assets/img/icons/stick.svg" alt="Stick" />
            <span>Кабінет Міністрів України</span>
          </a>
        </li>
        <li class="navbar__list-item">
          <button class="button">
            <img src="assets/img/icons/download.svg" alt="Download icon" />
            <span>Презентація</span>
          </button>
        </li>
      </ul>
    </nav>

    <section class="banner">
      <div class="banner__content">
        <h1>Реформування системи містобудування</h1>
        <button class="button" (click)="scrollToMedia()">
          <img src="assets/img/icons/btn-play-small.svg" alt="Play icon" />
          <span>Відеотрансляція</span>
        </button>
      </div>
    </section>
  </div>
</header>
