<section class="contact">
  <div class="container">
    <ul class="contact__list">
      <li class="contact__list-item custom-line">
        <div class="item-title">
          <img src="assets/img/icons/fist.svg" alt="Struggle" class="icon" />
          <h3 class="title">Зіткнулися з корупцією?</h3>
        </div>
        <div class="item-content">
          <span>Пишіть нам</span>
          <a href="mailto:hello@thedigital.gov.ua" class="link">hello@thedigital.gov.ua</a>
        </div>
      </li>

      <li class="contact__list-item custom-item custom-line">
        <div class="item-title">
          <img src="assets/img/icons/speaking.svg" alt="Chat" class="icon" />
          <h3 class="title">Напишіть у чат-бот</h3>
        </div>
        <div class="item-content custom-content">
          <span class="custom-span">Оберіть месенджер</span>
          <div class="social-list">
            <div class="social-list__item">
              <a href="https://www.viber.com/diia_help_bot" target="_blank"
                ><img src="assets/img/icons/logo-viber.svg" alt="Viber icon"
              /></a>
            </div>
            <div class="social-list__item">
              <a href="https://t.me/s/diia_gov" target="_blank"><img src="assets/img/icons/logo-telegram.svg" alt="Telegram icon" /></a>
            </div>
            <div class="social-list__item">
              <a href="https://www.facebook.com/city.diia" target="_blank"
                ><img src="assets/img/icons/logo-facebook.svg" alt="Facebook icon"
              /></a>
            </div>
          </div>
        </div>
      </li>

      <li class="contact__list-item">
        <div class="item-title">
          <img src="assets/img/icons/phone.svg" alt="Phone" class="icon" />
          <h3 class="title">Зателефонуйте на гарячу лінію</h3>
        </div>
        <div class="item-content custom-content-2">
          <span>Працює з 09:00 до 18:00</span>
          <a href="tel:+380971628529" class="link">+38 097 162 85 29</a>
        </div>
      </li>
    </ul>
  </div>
</section>
